<div>
  <h1>Switzerland</h1>
  <ul>
    <li>Capital: Bern</li>
    <li>Population: 8341600</li>
    <li>Languages:
      <ul>
        <li></li>
      </ul> 
    </li>
  </ul>
  <div>
    <img src="" alt="">
  </div>
</div>